version: '3.4'
services:
  frontend:
    platform: linux/amd64
    restart: unless-stopped
    build:
      context: ./front
      dockerfile: ./Dockerfile
    expose:
      - '3000'

  nginx:
    restart: unless-stopped
    image: nginx
    volumes:
      - ./nginx/:/etc/nginx/
    depends_on:
      backend:
        condition: service_started
      frontend:
        condition: service_started
    ports:
      - '80:80'

  backend:
    platform: linux/amd64
    restart: unless-stopped
    build:
      context: ./
      dockerfile: ./Dockerfile
    depends_on:
      foodDB:
        condition: service_healthy
    expose:
      - '8000'
    healthcheck:
      test: ['CMD-SHELL', 'curl -f http://localhost:8000/health || exit 1']
      interval: 30s
      timeout: 10s
      retries: 5

  foodDB:
    image: postgres
    restart: unless-stopped
    container_name: foodDB
    env_file:
      - .env
    ports:
      - '5436:5432'
    volumes:
      - ./db:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/create_tables.sql
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER}']
      interval: 10s
      timeout: 5s
      retries: 5

  keycloak:
    image: quay.io/keycloak/keycloak:22.0.5
    env_file:
      - .env
    command: start-dev
    ports:
      - '8080:8080'
    depends_on:
      - foodDB
    volumes:
      - ./keycloak_data:/opt/keycloak/data
